.update-button {
    padding: 10px 20px;
    background-color: #7d1608dd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .update-button:hover {
    background-color: #b55144dd;
  }
  
  .recipePreview {
    padding: 10px;
  }

  .imageDiv {
    align-self: center;
    
  }

